footer {
  padding-top: 10px;
  background-color: black;
  color: white;
}

@media screen and (min-width: 481px) {
  .footer-li {
    display: inline;
    vertical-align: middle;
  }

  .footer-li + .footer-li:before{
    content: " | ";
  }
}

/* Footer Navigation */
.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-li {
  padding: 5px 0;
}

/* Social Navigation */
.social-nav {
  list-style: none;
  margin: 15px 0;
  padding: 0;
}

.social-li {
  display: inline;
  padding-right: 15px;
}