.download-box {
  padding: 30px 0;

  img {
    display: none;
  }
}

@media screen and (min-width: 1041px) {
  /* top menu shows and desktop view is achieved */

  .download-box {
    display: flex;
    flex-direction: row;
    align-content: flex-start;

    img {
      display: block;
      width: auto;
      margin-right: 70px;
    }
  }

  .text-box {
    width: 70%;
  }
}