.toggle-on-mobile {
  display: none;
}

// Wrapper for logo and top nav
.mobile-nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 15px 25px 15px;
}

// Login, Search and Hamburger
.mobile-nav {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline;
    padding-left: 10px;
  }
}

// Main Navigation toggled with Hamburger
#main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.show {
  display: none;
}

.show1 {
  display: none;
}

#sub-menu-1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

// 2. Level Navigation with blue bg
.blue-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  background-color: $darkblue;
  border-bottom: 1px solid white;

  span {
    cursor: pointer;
    height: 48px;

width: 48px;

  }
}

.gray-li {
  display: block;
  padding: 10px 10px 10px 20px;
  background-color: #dfe0e6;
  border-bottom: 1px solid white;

  &::before {
    content: url("assets/icons/iconmonstr-angel-right-thin-16.png");
  font-size: 22px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: sub;
  }
}

.white-li {
  display: block;
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}