@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

* {
  box-sizing: border-box;
}

/* --- TYPOGRAPHY AND STYLE --- */

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

h1 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-left: 0;
  padding-left: 0;
}

h2 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 700;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 18px;
  letter-spacing: -1px;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  vertical-align: middle;
  padding: 10px;
}

.breadcrumbs li a {
  color: gray;
  text-decoration: none;
}

#share-box {
  color: #0c4ab5;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  padding-left: 10px;
  padding-top: 15px;
}

#share-box::before {
  content:url("assets/icons/iconmonstr-share-1-16.png");
  width: 20px;
  height: 20px;
  padding-right: 10px;
  vertical-align: middle;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

/* --- COMPONENTS --- */

button {
  background-color: #0a4bb7;
  font-size: 16px;
  color: white;
  padding: 20px 15px;
  border: none;
}

.menu-icon {
  width: 25px;
  height: 25px;
}

.menu-icon:hover {
  cursor: pointer;
}

.social-icon {
  width: 25px;
  height: 25px;
  background-color: white;
}

/* --- NAVIGATION --- */

.mobile-nav-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 980px;
  padding: 0 15px 25px 15px;
}

/* Main Navigation */
#main-menu, #main-menu > ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.blue-li {
  display: block;
  padding: 15px;
  background-color: #282f54;
  border-bottom: 1px solid white;
}

.blue-li a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.gray-li {
  display: block;
  padding: 15px 15px 15px 20px;
  background-color: #dfe0e6;
  border-bottom: 1px solid white;
}

.gray-li::before {
  /* padding: 8px; */
  content: url("assets/icons/iconmonstr-angel-right-thin-16.png");
  font-size: 22px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: sub;
}

.gray-li a {
  color: black;
  text-decoration: none;
}

.white-li {
  display: block;
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}

.white-li a {
  color: black;
  text-decoration: none;
}

/* Login, Search and Hamburger */
.mobile-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav li {
  display: inline;
  padding-left: 10px;
}

/* Breadcrumbs */
.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li+li:before {
  padding: 8px;
  color: gray;
  content: ">";
}

/* Footer Navigation */
.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-li {
  padding: 5px 0;
}

/* Social Navigation */
.social-nav {
  list-style: none;
  margin: 15px 0;
  padding: 0;
}

.social-li {
  display: inline;
  padding-right: 15px;
}

/* --- LAYOUT --- */

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f1f1f1;
}

.content-width {
  margin: 0 auto;
  max-width: 980px;
  padding: 15px;
}

.download-box {
  padding: 20px 0;
}

footer {
  padding-top: 10px;
  background-color: black;
  color: white;
}

@media screen and (min-width: 481px) {
  .footer-li {
    display: inline;
    vertical-align: middle;
  }

  .footer-li + .footer-li:before{
    content: " | ";
}

}

@media screen and (min-width: 761px) {
  /* IMGs are shown */
}

@media screen and (min-width: 10411px) {
  /* top menu shows and desktop view is achieved */
}