@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

* {
  box-sizing: border-box;
}

/* TYPOGRAPHY */
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

h1 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-left: 0;
  padding-left: 0;
}

h2 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 700;
}

/* COMPONENTS */
button {
  background-color: #0a4bb7;
  font-size: 16px;
  color: white;
  padding: 20px 15px;
  border: none;
}

/* NAVIGATION */

/*Footer Nav:*/
.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-li {
  padding: 5px 0;
}


/* LAYOUT */

html {
  margin: 0;
  padding: 0;
  
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f1f1f1;
  
}

.content-width {
  margin: 0 auto;
  max-width: 980px;
  padding: 15px;
}

.download-box {
  padding: 20px 0;
}

footer {
  background-color: black;
  color: white;
}

@media screen and (min-width: 7481px) {
  /* Footer Nav changes to p */
}

@media screen and (min-width: 761px) {
  /* IMGs are shown */
}

@media screen and (min-width: 10411px) {
  /* top menu shows and desktop view is achieved */
}