button {
  background-color: #0a4bb7;
  font-size: 16px;
  color: white;
  padding: 20px 15px;
  border: none;
}

.menu-icon {
  width: 25px;
  height: 25px;
}

.menu-icon:hover {
  cursor: pointer;
}

.plus-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

// .crossicon {
//   content: url('assets/icons/iconmonstr-x-mark-2-24.png')
// }

.social-icon {
  width: 25px;
  height: 25px;
  background-color: white;
}
